@model IEnumerable<NguyenThiPhuongThao973.Models.NTPT0973>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã ID
            </th>
            <th>
                Tên người dùng
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NTPTId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTPTName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTPTGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NTPTId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NTPTId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NTPTId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
